*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    
}
ul {
    list-style-type: none;
    direction: rtl;
    
}
nav ul li {
     display: inline;
    color: white;

    
    padding: 25px 50px 75px 100px;
    }



.navbar{
    display: flex;
    width: 100%;
    background-color: rgb(136, 161, 114, 0.6);
    top: 0;
    height: 90px;
    padding: 30px;
    
    
}
.container{
}

#logo{
  height: 120px;
  width: 100px;
}

header{
    background-image: url(New-Generation-DAF-trucks-line-up_copie.png);
    background-repeat: no-repeat;
    background-size: 100%x;
    height: 1600px;
    
}


#transport{
    width: 100%;
    height: 500px;
    top: 0;
}
 #number{
     margin-left: 810px;
     padding: 19px;
     font-size: 20px;
     
 }   
  h1{
      margin-top: 120px;
      color: #fff;
      font-size: 3rem;
      margin-left: 20px;
  }      
#countries{
    color: #ffff;
    margin-left: 20px;
    font-size: 2rem;
      
}
.read-more{
    margin-left: 600px;
    padding: 10px 25px;
    
}



https://www.templatemonsterpreview.com/demo/58066.html?_gl=1*1o7wp3i*_ga*ODY0MTc3MjU5LjE2MzYwNjc4MzM.*_ga_FTPYEGT5LY*MTYzNjA2NzgzMi4xLjAuMTYzNjA2NzgzMy41OQ..&_ga=2.156092028.692494573.1636067833-864177259.1636067833
