*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    padding: 0%;
	top:0; 
	left:0; 
    margin: 0%;
    width: 100px;

}
#logo:hover{
    cursor: pointer;
}

#transport{
    width: 100%;
    height: 500px;
    top: 0;
}
    
    
        

